body {
    background: rgb(56, 71, 79);
    color: white;
}

#header {
    padding: 10px;
}

#title {
    text-align: center;
    font: 5vw "Meiryo";
    margin: 15px;
}

#time{
    font: 300 6vw 'Lato';
}

#date {
    font: 300 2vw 'Lato';
    margin: -10px 0px 0px 0px;
}

#container {
    padding: 25px;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 50%;
    background-color: rgb(35, 44, 49);
    border: solid;
    border-width: thin;
}

#items{
    margin: 40px auto;
}

#items ul {
    margin: 15px auto;
    display: flex;
    font: 300 1.8vw 'Lato';
    list-style-type: none;
    padding: 0;
    /*! width:   90%; */
}

li{
    margin: 0px auto;
}

a:link, a:visited {
    color: lightgrey;
    background: rgb(56, 71, 79, 0.2);
    text-decoration: none;

}

a:hover, a:focus {
    background: rgb(56, 71, 79, 0.8);
    outline: none;
}

.button {
    width: 150px;
    padding: 10px 20px;
    background: inherit;
}

input {
    width: 80%;
    height: 30px;
    background: inherit;
    color: lightgrey;
    caret-color: lightgrey;
    border: none;
    font: 300 1em 'Lato';
}
#favs{
    display: none;
    padding: 0px 20px;
    position: absolute;
    margin: 10px;
    text-align: left;
    list-style-type: none;
    background: rgb(35, 44, 49);
}


.favkey, .favlink {
    padding: 5px;
    float: left;
    font: 300 1em 'Lato';

}
.favlink{
    width: 300px;
}
.favkey {
    width: 50px;

}
